body {
  background: white;
}

#header {
  background-image: linear-gradient(to right, #ffe489 0%, #ffffff 100%);
  padding: 1.5em 1em 1.5em 1em;
}
#header .site-branding__text a {
  text-shadow: 0px 1px #e77550;
  color: red;
}

#menubar .menu--main {
  background-color: white;
}
#menubar .menu--main a {
  color: #6c0000;
}

.site-branding__name {
  font-size: 2.75em;
}

.site-branding__slogan {
  font-size: 1.25em;
}

.menu--administrative-menu {
  background-color: #ffeecd;
}

.path-frontpage .view-all-sessions .session-info-combined {
  flex-shrink: 0;
  background: white;
  padding: 1em;
}
.path-frontpage .view-all-sessions .panelist-photo-row {
  flex-basis: 40%;
}
@media (max-width: 720px) {
  .path-frontpage .view-all-sessions .panelist-photo-row {
    flex-basis: 100%;
    text-align: center;
  }
}
.path-frontpage .view-all-sessions > .view-content > .view-row {
  margin-bottom: 2em;
}
.path-frontpage .view-all-sessions .participant {
  margin-bottom: 0;
}
.path-frontpage .view-all-sessions .view-content .views-row {
  display: flex;
  align-items: center;
}
@media (max-width: 720px) {
  .path-frontpage .view-all-sessions .view-content .views-row {
    flex-flow: column;
  }
}
.path-frontpage .view-all-sessions a {
  color: #f15724;
}
.path-frontpage .view-all-sessions .session-datetime {
  font-size: 1.4em;
  color: gray;
}
.path-frontpage .view-all-sessions .views-field-field-session-des {
  border: none;
  margin: 0;
  padding: 0;
}
.path-frontpage .view-all-sessions .view-panelist-photo-row .view-content {
  display: flex;
}
.path-frontpage .view-all-sessions .view-panelist-photo-row .panelist-photo img {
  max-width: 60%;
  border-radius: 50%;
}

.session-title {
  font-size: 2em;
}

h2.field-content.session-datetime {
  margin-top: 0;
}

.views-field-field-session-des {
  margin: 2em;
  padding: 2em;
  border-image: radial-gradient(red, #fae042) 1;
  border-width: 3px;
  border: 3px solid #fae042;
}

.participant {
  display: flex;
  margin-bottom: 2em;
}
@media (max-width: 720px) {
  .participant {
    flex-flow: column;
  }
}
.participant .views-field-field-participant-photo {
  flex-shrink: 0;
}
@media (max-width: 720px) {
  .participant .views-field-field-participant-photo .panelist-photo {
    text-align: center;
    background-image: radial-gradient(circle 250px, orange, white);
  }
}
.participant .panelist-name-and-title {
  background-image: linear-gradient(to right, #ffe489 0%, #ffffff 100%);
  line-height: 3em;
  font-size: 1.5em;
  text-indent: 1em;
  text-shadow: 0px 1px #e77550;
  color: #ed7d00;
}
.participant .panelist-homeinst {
  padding: 0.5em 0 0.5em 1em;
  border-image: linear-gradient(to left, white 1%, #ffe489 100%) 100% 0 100% 0/3px 0 3px 0 stretch;
  border-bottom: 3px solid #ffe489;
  font-size: 1.2em;
}
.participant .views-field-field-participant-biography {
  padding: 1em 0 0 1em;
}

.site-footer {
  background-image: linear-gradient(to right, #ffe489 0%, #ffffff 100%);
  padding: 1em 0 1em 0;
}

.site-footer__bottom {
  margin-top: 0;
  border-top: none;
  border-color: none;
}

.site-footer .content a {
  color: rgba(175, 0, 0, 0.8);
}

/*# sourceMappingURL=caarms.css.map */
