.menu--main {
	background-color: initial;
}

.region-primary-menu .menu a {
	color: #6b0000;
}

.menu--administrative-menu {
	background-color: rgb(255, 238, 205);
}

.view-id-session_node_override {
	.views-field-title .field-content {
	h1 {
		font-size: 2em;
	}
	}
}
