$menu-link-color: #6c0000;
$menu-bg-color: white;
$adm-menu-bg-color: rgb(255, 238, 205);
$hdr-bg-image: linear-gradient(to right,#ffe489 0%,#ffffff 100%);

#header {
	background-image: $hdr-bg-image;
}


#menubar {
	.menu--main {
		background-color: $menu-bg-color;
		 a {
			color: $menu-link-color;
		}
	}
}

.menu--administrative-menu {
	background-color: $adm-menu-bg-color;
}

.session-title {
font-size: 2em;
}

.participant {
	display: flex;
	.views-field-field-participant-photo {
		flex-shrink: 0;
	}
	.panelist-name-and-title {
		background-image: linear-gradient(to right,#ffe489 0%,#ffffff 100%);
		line-height: 3em;
		font-size: 1.5em;
		text-indent: 1em;
	}
}

